.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f1f1f;
  color: white;
  width: 100vw;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  z-index: 20;
  font-size: 16px;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: underline;
}

.navbar.span {
  font-weight: bolder;
  color: inherit;
}

#homepage {
  padding-left: 1rem;
}

#radiohead {
  transform: translateX(-20%);
  text-decoration: underline;

  float: right;
}

#radiohead * {
  padding: 10px;
}

#p404 {
  transform: translateX(-50%);
  text-decoration: underline;
}
