* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", Consolas, monaco, monospace;
  scrollbar-width: none;
}

section {
  padding: 50px;
  background: #232323;
}

.removeunderline {
  text-decoration: none;
}

.intro-text {
  border-radius: 15px;
  flex-grow: 1;
  -webkit-box-shadow: 3px 3px 10px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 10px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 10px #ccc;
  position: relative;
  z-index: 10;
}

section h2 {
  font-size: 2.5em;
  color: #fff;
}

section p {
  font-size: 1.2em;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 20;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 10s linear infinite;
  z-index: 20;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

.grayboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
}

.graybox {
  background: #3c3c3b;
  margin-top: 15px;
  margin-right: 15px;
  display: flex;
  position: relative;
  padding: 1em;
  border-radius: 15px;
  flex-shrink: 1;
}

.projects {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px;
}

.boxes {
  display: flex;
  flex-direction: row;
}

.box {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  flex-grow: 1;
}

.box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(25px);
  transform: scale(1.05);
}

.box:nth-child(1),
.box:nth-child(1)::before {
  background: linear-gradient(135deg, #f403d1, #64b5f6);
  margin-left: 0px;
}

.box:nth-child(2),
.box:nth-child(2)::before {
  background: linear-gradient(135deg, #ffec61, #f321d7);
}

.box:nth-child(3),
.box:nth-child(3)::before {
  background: linear-gradient(135deg, #24ff72, #2196f3);
}

.box h2 {
  position: relative;
  z-index: 1;
  font-size: 3em;
  color: #fff;
}

.box2 {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  flex-grow: 1;
}

.box2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(25px);
  transform: translateY(10px) scale(1);
}

.box2:nth-child(1),
.box2:nth-child(1)::before {
  background: linear-gradient(15deg, #00dbde, #fc00ff);
  margin-left: 0px;
}

.box2:nth-child(2),
.box2:nth-child(2)::before {
  background: linear-gradient(
    100.5deg,
    rgba(148, 146, 236, 1) 17.7%,
    rgba(245, 194, 194, 1) 76.1%
  );
}

.box2:nth-child(3),
.box2:nth-child(3)::before {
  background: linear-gradient(135deg, #24ff72, #2196f3);
}

.box2 h2 {
  position: relative;
  z-index: 1;
  font-size: 3em;
  color: #fff;
}

.pfp {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}

.name {
  font-weight: bolder;
  color: whitesmoke;
  align-self: center;
  font-size: 1.5rem;
}

.subname {
  display: flex;
  flex-direction: row;
}

.background {
  z-index: -1;
  background: linear-gradient(217deg, #008aff, #00ffe7);
  background-color: black;
  animation: animate 180s linear infinite;

  width: 100%;
  height: 100%;
  padding: 50px;
  top: -50px;
  left: -50px;

  position: absolute;
}

.profile-header {
  position: relative;
  overflow: hidden;

  padding: 50px;
  padding-left: 33vw;
  padding-right: 33vw;
}

.glass {
  background: rgba(120, 120, 120, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
